<h1>Hello World!</h1>
<p>Origin: {{.Hostname}} / {{.HostIp}} | {{.HostOs}} / {{.HostArch}}</p>
<p>Client: {{.ClientIp}}</p>
<p>Containerisation:
{{if not .Container}}
None
{{else}}
{{.ContainerEnv.Containerisation}}
{{end}}
<li>{{if not .K8s}}
Seemingly not running on Kubernetes
{{else}}
{{with .K8s}}
Running under Kubernetes {{.Version}} in namespace TODO as service account TODO
{{end}}
{{end}}
</li>
</p>
<p>Virtualisation:
{{if not .Virtual}}
None
{{else}}
{{.VirtualEnv.Virtualisation}}
{{end}}
<li>{{if not .Aws}}
Seemingly not running on AWS
{{else}}
{{with .Aws}}
Running in AWS {{.AZ}} on a {{.InstanceType}} called {{.InstanceID}} with host IP {{.PrivateIP}}
{{end}}
{{end}}
</li>
</p>
